<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>edit</p>

    <form action="" method="POST">
        {% csrf_token %}
        <label for="username">username: </label>
        <input type="text" name="name" id="username" value="{{ data.0.name }}"><br><br>
        <label for="mobile">Mobile: </label>
        <input type="number" name="mobile" id="mobile" value="{{ data.0.mobile }}"><br><br>
        <label for="email">email: </label>
        <input type="email" name="email" id="email" value="{{ data.0.email }}"><br><br>
        <label for="message">message: </label>
        <textarea name="message" id="message" cols="30" rows="10">{{ data.0.message }}</textarea>
        <input type="submit" value="Save">
    </form>

</body>
</html>